<nav class="navbar navbar-light bg-light fixed-top navbar-icon-top navbar-expand-lg bottom-shadow" role="navigation">
<!--
    <button class="navbar-toggler hidden-lg-up float-xs-right" 
            type="button" 
            data-toggle="collapse" 
            data-target="#main-navbar" 
            aria-controls="navbarResponsive" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
    </button>  
--> 

    <a class="navbar-brand" [routerLink]="['/home']">
        <img class="user-avatar" src="assets/images/myelth_logo_plus_transparent.png" width="100px" />
        <img class="user-avatar" src="assets/images/myelth_name_logo.png" width="100px" style="position:relative;left:-30px;"/>
    </a>

    <div class="" id="main-navbar">
        <ul class="nav navbar-nav float-lg-right">
            <li class="nav-item"><a class="nav-link text-info" routerLink="['']" routerLinkActive="active">HOME</a></li>        
            <li class="nav-item"><a class="nav-link text-info" routerLink="['']" routerLinkActive="active">COVERAGE</a></li>
            <li class="nav-item"><a class="nav-link text-info" routerLink="['']" routerLinkActive="active">EHR</a></li>
            <li class="nav-item"><a class="nav-link text-info" routerLink="['']" routerLinkActive="active">CLAIMS</a></li>
            <li class="nav-item"><a class="nav-link text-info" routerLink="['']" routerLinkActive="active">CONTACT</a></li>
        </ul>
    </div>

    <!-- ml-3 my-auto d-inline -->
    <form class="form-inline my-2 my-lg-0" style="padding-left:50px;">
        <div class="input-group">
            <input type="text" class="form-control border-right-0" style="border-color:#17a2b8" placeholder="Search"> 
            <div class="input-group-append">
                <button class="btn btn-info  border-left-0" type="button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>    
    
    <!--
    <form class="navbar-right navbar-form form-inline my-2 my-lg-0">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>        
    </form>
    -->
</nav>
