<div style="margin-left:200px; margin-right:200px;">
<div class="row">
    <div class="col-md-12 "><app-carousel></app-carousel></div>
</div>
<div class="row" style="padding-top:12px;">
    <div class="col-md-8">
        <div class="info-div bottom-shadow">
            <div>
                <i class="fas fa-hospital-alt" style="color:silver;font-size: 200px"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="padding-left: 10px;">
        <app-memberlogin></app-memberlogin>
    </div>    
</div>
</div>