<div class="row col-md-12" style="width:100%;padding-left: 20px;">

  <div class="col-md-2 box-shadow" style="height:100%;background-color: white;">
    <app-profile></app-profile>
  </div>

  <div class="col-md-10" style="padding-left:10px;">

      <div class="col-md-10">
        <div class="box-shadow" style="background: #f7f7f7 none repeat scroll 0 0; padding: 20px">
          <app-search></app-search>
        </div>
      </div>
    
      <div class="col-md-10" style="padding-top:20px;">
        <div class="box-shadow" style="background: #f7f7f7 none repeat scroll 0 0; padding: 20px">
          <app-coverage></app-coverage>
        </div>
      </div>
      

  </div>
  
</div>