.pad-15 {
    padding-left: 15px;
}

.pad-t-20 {
    padding-top: 30px;
}

.login-page{
    margin-left:200px; 
    margin-right:200px;
}

.input-prepend-bgc{
    background-color: transparent;//'#fafafa';
}

.input-append-bgc{
    background-color: white;
    border-left:0px;
}