<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="['']" routerLinkActive="active">HOME</a></li>        
        <li class="nav-item"><a class="nav-link" routerLink="['']" routerLinkActive="active">COVERAGE</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="['']" routerLinkActive="active">EHR</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="['']" routerLinkActive="active">CLAIMS</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="['']" routerLinkActive="active">CONTACT</a></li>
    </ul>
</div>