<ngb-carousel class="bottom-shadow">
  <ng-template ngbSlide>
    <div class="carousel-div"><i class="fas fa-heartbeat carousel-icon"></i></div>
    <div class="carousel-caption">
      <h3 class="text-info">Manage your health</h3>
      <p class="text-info">Know your claims and coverage</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
      <div class="carousel-div"><i class="fas fa-search carousel-icon"></i></div>
    <div class="carousel-caption">
      <h3 class="text-info">Provider Search</h3>
      <p class="text-info">Find the best provider and know the cost of service around you</p>
    </div>
  </ng-template>
</ngb-carousel>

<!---
<div id="homecarousel" class="carousel slide" data-ride="carousel" style="width:100%">
  <ul class="carousel-indicators">
    <li data-target="#homecarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homecarousel" data-slide-to="1"></li>
    <li data-target="#homecarousel" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner carousel-div bottom-shadow" role="listbox">
    <div class="item active">
      <p class="">FIRST SLIDE</p>
    </div>
    <div class="carousel-item">
        <p class="">SECOND SLIDE</p>
    </div>
    <div class="carousel-item">
        <p class="">THIRD SLIDE</p>
    </div>
  </div>
</div>
-->