<ngx-charts-gauge
class="chart-container"
[view]="view"
[legend]="showLegend"
[legendTitle]="legendTitle"
[legendPosition]="legendPosition"
[results]="data"
[animations]="animations"
[textValue]="gaugeTextValue"
[scheme]="colorScheme"
[min]="gaugeMin"
[max]="gaugeMax"
[units]="gaugeUnits"
[angleSpan]="gaugeAngleSpan"
[startAngle]="gaugeStartAngle"
[showAxis]="gaugeShowAxis"
[bigSegments]="gaugeLargeSegments"
[smallSegments]="gaugeSmallSegments"
[margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null"
[tooltipDisabled]="tooltipDisabled"
(select)="select($event)"
(legendLabelClick)="onLegendLabelClick($event)">
</ngx-charts-gauge>

<!--
<ngx-charts-gauge
class="chart-container"
[view]="view"
[legend]="showLegend"
[legendTitle]="Coverage"
[legendPosition]="10"
[results]="data"
[animations]="animations"
[textValue]="remainingValue"
[scheme]="colorScheme"
[min]="0"
[max]="maxValue"
[units]="100"
[angleSpan]="180"
[startAngle]="-90"
[showAxis]="true"
[bigSegments]="gaugeLargeSegments"
[smallSegments]="gaugeSmallSegments"
[margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : [40, 0, 0, -260]"
[tooltipDisabled]="false"
(select)="select($event)"
(legendLabelClick)="onLegendLabelClick($event)">
</ngx-charts-gauge>-->